

.sidebar{
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
}

.newChatBtn{
    width: 90%;
    padding: 10px;
    background-color: #27292c;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 20px 0;
}
.logo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newChatIcon{
    font-size: 16px;
    color: #8f8f8f;
}

.recentSpan{
    font-size: 14px;
    width: 90%;
    padding: 10px 30px;
    color: #8f8f8f;
    align-self: flex-start;
}

.recentSpan i{
    font-size: 12px;
    margin-left: 5px;
}

.historyList{
    height: 100%;
    width: 90%;
    margin: 0;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.historyList li{
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.sidebarFooter{
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}

.heartIcon{
    color: red;
}

.newChatIcon:hover{
    color: rgb(255, 255, 255, 0.7);
}

.newChatBtn:hover{
    background-color: rgba(78, 78, 78, 0.7);
}

.historyList li:hover{
    background-color: rgba(41, 40, 40, 0.7);
    color: white;
}

.historyList li .deleteIcon{
    font-size: 14px;
    color: #8f8f8f;
}

.fa-trash{
    opacity: 0;
}

.historyList li:hover .fa-trash{
    opacity: 1;
    transition: opacity 0.3s ease;
}

.historyList li .fa-trash:hover{
    color: red;
}

.highlighted{
    background-color: rgba(41, 40, 40, 0.7);
    color: white;
}